/*

Project      : SAAS - For Saas Startups
Version      : v2.3
Author       : Design_mylife (Rakesh Sharma)
Support email: mylifedesign143@gmail.com
*/

@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Open+Sans:300,300i,400,400i,600,700");
@font-face {
    font-family: "Ionicons";
    src: url("../ionicons/fonts/ionicons28b5.eot?v=2.0.0");
    src: url("../ionicons/fonts/ionicons28b5.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../ionicons/fonts/ionicons28b5.ttf?v=2.0.0") format("truetype"), url("../ionicons/fonts/ionicons28b5.woff?v=2.0.0") format("woff"), url("../ionicons/fonts/ionicons28b5.svg?v=2.0.0#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*
Base csss
*/

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: .9375rem;
    line-height: 1.9;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #757575;
}

a,
button {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

a {
    color: #4aa3df;
}

a:hover {
    color: #aeaeae;
}

a,
a:hover,
a:focus,
button:hover,
button:focus {
    outline: 0 !important;
    text-decoration: none;
}

blockquote {
    font-style: normal;
    font-weight: 400;
}

blockquote p {
    font-weight: 400;
}

button:focus {
    outline: 0 !important;
}

::-moz-selection {
    background-color: #191b1d;
    color: #fff;
}

::selection {
    background-color: #191b1d;
    color: #fff;
}


/* Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    letter-spacing: 1px;
    font-family: "Dosis", sans-serif;
    color: #333;
    font-weight: 400;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: 300;
}

h1,
.h1,
h2,
.h2 {
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 18px;
}

h4 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 14px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

.colorf {
    color: #e62f2d;
}

small {
    font-size: 80%;
}

label {
    font-weight: 400;
    text-transform: capitalize;
}

.border-width {
    width: 60px;
    height: 2px;
    background: #4aa3df;
    margin: 10px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.full-wid {
    width: 100%;
}

.no-padd {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}


/***spaces**/

.space-10 {
    width: 100%;
    height: 10px;
}

.space-20 {
    width: 100%;
    height: 20px;
}

.space-30 {
    width: 100%;
    height: 30px;
}

.space-40 {
    width: 100%;
    height: 40px;
}

.space-50 {
    width: 100%;
    height: 50px;
}

.space-60 {
    width: 100%;
    height: 60px;
}

.space-70 {
    width: 100%;
    height: 70px;
}

.space-80 {
    width: 100%;
    height: 80px;
}

.space-90 {
    width: 100%;
    height: 90px;
}

.space-100 {
    width: 100%;
    height: 100px;
}


/**margins**/

.margin-b-0 {
    margin-bottom: 0 !important;
}

.margin-b-5 {
    margin-bottom: 5px !important;
}

.margin-b-10 {
    margin-bottom: 10px !important;
}

.margin-b-20 {
    margin-bottom: 20px !important;
}

.margin-b-30 {
    margin-bottom: 30px !important;
}

.margin-b-40 {
    margin-bottom: 40px !important;
}

.margin-b-50 {
    margin-bottom: 50px !important;
}

.skin-bg {
    background-color: #1b4d6e;
}

.skin-bg1 {
    background-color: #3c5c93;
}

.skin-bg2 {
    background: #4c74b9;
}

.effect7 {
    -webkit-box-shadow: -1px 2px 18px -1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -1px 2px 18px -1px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 18px -1px rgba(0, 0, 0, 0.33);
}

.skin-bg3 {
    background: linear-gradient(to top right, #b80300 4%, #ff5653 100%);
}

.imgskin {
    background-image: url('img/cisp-img.jpeg');
}

.skin-bg4 {
    background: linear-gradient(to top right, #b80300 6%, #ff5653 100%);
}

.skin-bg3-1 {
    background-color: #f2f2f2;
}

.gray-bg {
    background: #f7f9fa;
}

.form-control,
input[type="text"],
input[type="email"],
textarea {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    min-height: 41px;
    font-size: 13px;
    color: #757575;
}

.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.045);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.045);
    -ms-box-shadow: 0 0 40px rgba(0, 0, 0, 0.045);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.045);
    border-color: #ddd;
}

.dropcap:first-letter {
    font-size: 30px;
    color: #4aa3df;
}

.grey-bg {
    background: #f5f5f5;
}

.center-title {
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.center-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 2px;
    margin-left: -50px;
    background: #4aa3df;
}

.center-title h2 {
    letter-spacing: 1px;
    text-transform: capitalize;
}

.bordred {
    border: 1px solid #e62f2d;
    border-radius: 8px;
}


/**********back to top*************/

.scrollToTop {
    text-align: center;
    background: transparent;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #e62f2d;
    right: 10px;
    z-index: 9999;
    display: none;
    opacity: 0.5;
    line-height: 0px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.scrollToTop i {
    font-size: 30px;
    display: block;
    padding-top: 0px;
    line-height: 40px;
}

.scrollToTop:hover {
    text-decoration: none;
    opacity: 1;
    color: #fff;
}


/**preloader**/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

#preloader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5px;
    width: 5em;
    height: 5em;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    border-top: 0.5em solid #109cdd;
    border-right: 0.5em solid rgba(245, 245, 245, 0.5);
    border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
    border-left: 0.5em solid rgba(245, 245, 245, 0.5);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

#preloader-inner,
#preloader-inner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.center-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.full-img {
    width: 100%;
    height: auto;
}

.lead {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.text-color {
    color: #4aa3df;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

@media (min-width: 992px) {
    .vertical-align-child {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: row;
        -webkit-flex-direction: row;
    }
}

@media (min-width: 1200px) {
    body.boxed-layout {
        background-color: #f5f5f5;
    }
    body.boxed-layout .wrapper-boxed {
        width: 1200px;
        background-color: #fff;
        margin: 0 auto;
    }
    body.boxed-layout .wrapper-boxed .navbar-fixed-bottom,
    body.boxed-layout .wrapper-boxed .navbar-fixed-top {
        left: auto;
        right: auto;
        width: 1200px;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list>li {
    line-height: 30px;
    overflow: hidden;
}

.list>li i {
    margin-right: 5px;
    color: #e62f2d;
}

.page-title h1 {
    color: #fff;
    margin: 0px;
    margin-top: 40px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 2px;
}

.display-table {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
}

.display-table .verticle-middle {
    vertical-align: middle;
    width: 100%;
    display: table-cell;
    position: relative;
}

.dropcap-text:first-letter {
    color: #4aa3df;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}

.dropcap-bg:first-letter {
    background-color: #4aa3df;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
}


/*
Buttons
*/

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    border: 0px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-rounded {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    padding: 12px 35px;
}

.btn-primary {
    background: #4aa3df;
    color: #fff;
    border: 2px solid #4aa3df;
}

.btn-primary:hover {
    background: transparent;
    color: #4aa3df;
    border-color: #4aa3df;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus {
    background: #4aa3df;
    color: #fff;
    border: 2px solid #4aa3df;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #4aa3df;
    border-color: #4aa3df;
}

.btn-white-border {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-white-border:focus {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: none;
}

.btn-white-border:hover {
    background: #fff;
    color: #333;
}

.btn-dark-border {
    background: transparent;
    color: #333;
    border: 1px solid #333;
}

.btn-dark-border:focus,
.btn-dark-border.focus {
    background: transparent;
    color: #333;
    border: 1px solid #333;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.btn-dark-border:hover {
    background: #333;
    color: #fff;
}

.btn-xl {
    padding: 14px 30px;
}

.btn-social {
    margin-top: 10px;
}

.btn-social i {
    margin-right: 10px;
}

.btn-facebook {
    background: #3b5998;
    color: #fff;
}

.btn-facebook:focus {
    background: #3b5998;
    color: #fff;
}

.btn-facebook:hover {
    background: transparent;
    color: #3b5998;
}

.btn-twitter {
    background: #0084b4;
    color: #fff;
}

.btn-twitter:focus {
    background: #0084b4;
    color: #fff;
}

.btn-twitter:hover {
    background: transparent;
    color: #0084b4;
}

.btn-googleplus {
    background: #d34836;
    color: #fff;
}

.btn-googleplus:focus {
    background: #d34836;
    color: #fff;
}

.btn-googleplus:hover {
    background: transparent;
    color: #d34836;
}

.btn-default {
    background: #f5f5f5;
    text-shadow: 0 1px 0 white;
}

.navbar.navbar-light.navbar-default {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-top: -3px;
}

.navbar .nav-item .nav-link {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar .nav-item .nav-link.btn {
    padding: 6px 15px 4px;
    position: relative;
    top: 14px;
    font-weight: 400;
    font-size: .8rem;
}

.navbar .nav-item .nav-link.btn.btn-primary {
    background-color: #4aa3df;
    color: #fff !important;
}

.navbar .nav-item .nav-link.btn.btn-primary:hover,
.navbar .nav-item .nav-link.btn.btn-primary:focus,
.navbar .nav-item .nav-link.btn.btn-primary:active {
    background-color: #4aa3df;
    border-color: #4aa3df;
    color: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #4aa3df;
}

.navbar-nav {
    padding-right: 100px;
}

.navbar .container,
.navbar .container-fluid {
    position: relative;
}

.search-nav {
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 18px;
}

.search-nav a {
    color: #757575;
}

.top-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 9;
    display: none;
}

.top-search .input-group {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.top-search .form-control {
    font-size: 13px;
    background-color: #fff;
    border: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.top-search .close-search {
    cursor: pointer;
    line-height: 1;
    border: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 1rem;
    z-index: 10;
}

.top-search .close-search>i {
    line-height: 1;
    font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(230, 47, 45);
}

@media (min-width: 992px) {
    .navbar {
        padding: 0px;
    }
    .navbar .nav-item .nav-link.btn {
        margin-left: 1.75rem;
    }
    .navbar .nav-item .nav-link {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }
    .navbar.navbar-default.navbar-transparent {
        background-color: transparent;
        box-shadow: none;
    }
    .navbar-transparent .navbar-brand img {
        position: absolute;
        top: 1.5rem;
        margin-top: 0px;
    }
    .navbar-transparent .navbar-brand img.logo-scroll {
        opacity: 0;
        visibility: hidden;
    }
    .navbar-light.navbar-transparent .navbar-nav .active>.nav-link,
    .navbar-light.navbar-transparent .navbar-nav .nav-link.active,
    .navbar-light.navbar-transparent .navbar-nav .nav-link.show,
    .navbar-light.navbar-transparent .navbar-nav .show>.nav-link {
        color: #4aa3df;
    }
    .navbar-light.navbar-transparent .navbar-nav .nav-link,
    .navbar-light.navbar-transparent .search-nav a {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar.navbar-default.navbar-transparent.shrink {
        background-color: #fff;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }
    .navbar.navbar-default.navbar-transparent.shrink .navbar-brand img.logo-scroll {
        opacity: 1;
        visibility: visible;
    }
    .navbar.navbar-default.navbar-transparent.shrink .navbar-brand img.logo-top {
        opacity: 0;
        visibility: hidden;
    }
    .navbar.navbar-default.navbar-transparent.shrink .navbar-nav .nav-link,
    .navbar.navbar-default.navbar-transparent.shrink .search-nav a {
        color: rgba(0, 0, 0, 0.6);
    }
    .navbar-light.navbar-transparent.shrink .navbar-nav .active>.nav-link,
    .navbar-light.navbar-transparent.shrink .navbar-nav .nav-link.active,
    .navbar-light.navbar-transparent.shrink .navbar-nav .nav-link.show,
    .navbar-light.navbar-transparent.shrink .navbar-nav .show>.nav-link {
        color: #4aa3df;
    }
}


/* Main Slider Styles Starts */

@media screen and (max-width: 414px) {
    .logoresp {
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 320px) {
    .logoresp {
        width: 40%;
        padding-right: 60px;
    }
}

@media screen and (max-width: 414px) {
    .logobottom {
        width: 30%;
    }
}

@media screen and (max-width: 414px) {
    .topheader img {
        display: none;
    }
}


/*
Dropdown style
*/

.dropdown-menu {
    min-width: 150px;
    padding: 10px 0;
    margin-top: 0px;
}

.dropdown-menu>li>a {
    text-transform: capitalize;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #757575;
    padding: 6px 20px;
    letter-spacing: 1px;
    font-size: 13px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: transparent;
    color: #4aa3df;
}

.dropdown-menu .badge {
    font-weight: 700;
    border-radius: 1px;
    padding: 2px 4px;
    position: relative;
    margin-left: 3px;
}


/**mulit level dropdown**/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #f7f7f7;
    margin-top: 10px;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media (min-width: 992px) {
    .dropdown-menu {
        margin-top: 0px;
    }
    .dropdown-menu,
    .dropdown-submenu .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .show>.dropdown-menu,
    .dropdown-submenu:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}


/*
Blog Styles
*/

.post {
    background: #fff;
}

.post .blog-desc {
    padding: 15px;
}

.post .blog-desc h4 {
    margin: 8px 0;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.post .blog-desc h4 a {
    color: #253340;
    font-weight: 500;
}

.post .blog-desc h4 a:hover {
    color: #4aa3df;
}

.post-meta {
    display: block;
    position: relative;
    padding-left: 40px;
}

.post-meta:before {
    position: absolute;
    top: 13px;
    left: 0;
    display: block;
    content: " ";
    width: 27px;
    height: 1px;
    background: #dadada;
}

.about-author {
    padding: 15px 15px;
    background-color: #f5f5f5;
}

.about-author img {
    margin-right: 15px;
}

.about-author p {
    margin: 0px;
}

.about-author h5 {
    margin-bottom: 0px;
    text-transform: uppercase;
}

.comments-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
}

.comments-list li:nth-child(even) {
    padding-left: 30px;
}

.comments-list li:last-child {
    border-bottom: 0px;
}

.comments-list img {
    margin-right: 15px;
    width: 50px;
}

.comments-list h5 {
    margin-bottom: 0px;
}

.comments-list span {
    display: block;
    margin-bottom: 5px;
}

.comments-list p {
    margin-bottom: 0px;
}

.quick-news-list>li {
    margin-bottom: 20px;
}

.quick-news-list .date {
    float: left;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Dosis", sans-serif;
    margin-right: 20px;
    text-align: center;
    width: 60px;
}

.quick-news-list .date span {
    display: block;
    font-size: 40px;
}

.quick-news-list .content {
    overflow: hidden;
}

.quick-news-list .content a h4 {
    margin-bottom: 5px;
}

.quick-news-list .content a:hover h4 {
    color: #4aa3df;
}

.quick-news-list .content .quick-meta a {
    color: rgba(0, 0, 0, 0.4);
}

.quick-news-list .content .quick-meta a:hover {
    color: #4aa3df;
}

.social-icons {
    font-size: 20px;
}

.social-icons a {
    color: #999;
}

.social-icons a:hover {
    color: #4aa3df;
}


/*
Sidebar style
*/

.sidebar-widget h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 15px;
}

.sidebar-widget .list-unstyled>li>a {
    color: #999;
    padding: 4px 0;
}

.sidebar-widget .list-unstyled>li>a:hover {
    color: #4aa3df;
}

.recent-post li {
    padding-bottom: 15px;
}

.recent-post img {
    float: left;
    margin-right: 15px;
}

.recent-post .post-content {
    overflow: hidden;
}

.recent-post .post-content h5 {
    margin-bottom: 0px;
    margin-top: -5px;
    font-weight: 400;
}

.recent-post .post-content h5 a {
    color: #555;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 500;
}

.recent-post .post-content h5 a:hover {
    color: #4aa3df;
}

.recent-post span {
    font-size: 12px;
    display: block;
    color: #999;
}

.search-form form {
    position: relative;
}

.search-form form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 41px;
    line-height: 41px;
    width: 40px;
    text-align: center;
    border: 0px;
    background-color: transparent;
    color: #eee;
}


/*
Pagination styles
*/

.pagination>li>a,
.pagination>li>span {
    color: #4aa3df;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border-color: #4aa3df;
    background: #4aa3df;
}


/*
Cta and quotes css
*/

.textprimary {
    color: #fff!important;
}

.background_color {
    background-color: #0084b4;
}

.cta-skin {
    padding: 20px 0 0 20px;
    background: #f2f2f2;
}

.big-number {
    font-weight: bold;
    font-size: 40px;
}

.f-size2 {
    font-size: 14px;
}

.f-size1 {
    font-size: 14px;
}

.f-size3 {
    font-size: 27px;
}

.cta-skintwo {
    padding: 20px 0 0 20px;
    background: #b80300;
}

.cta-skinthree {
    padding: 20px 0 0 20px;
    background: #e62f2d;
}

.cta-skin h2 {
    color: #fff;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

.cta-skin p {
    color: #fff;
    margin-bottom: 20px;
}

.cta-bg {
    background: url(../images/bg2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
}

.cta-bg h3 {
    color: #fff;
}


/*
Pricing tables
*/

.price-box {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.price-box .price-header {
    background: #000;
    color: #fff;
    padding: 30px 15px;
}

.price-box .price-header h1,
.price-box .price-header h4 {
    color: #fff;
}

.price-box .price-header h1 {
    text-transform: uppercase;
}

.price-box .price-header h1 span {
    font-size: 12px;
    opacity: 0.8;
    display: inline-block;
}

.price-box .price-header h4 {
    opacity: 0.8;
    margin: 0px;
}

.price-box.best-plan .price-header,
.price-box.best-plan .price-footer {
    background: #4aa3df;
}

.price-features {
    margin: 0;
    padding: 15px 0;
}

.price-features li {
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0px 15px;
}

.price-features li:last-child {
    border-bottom: 0px;
}

.price-footer {
    background: #f5f5f5;
    padding: 25px 15px;
}


/*
Testimonials
*/

.skin-bg .center-title h2,
.skin-bg .center-title p {
    color: #fff;
}

.skin-bg .center-title:after {
    background: #fff;
}

.feedback-box {
    position: relative;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.feedback-box:after {
    top: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 12px;
    margin-left: -12px;
}

.feedback-box p {
    margin-bottom: 0;
}

.testi-info img {
    float: left;
    margin-right: 15px;
}

.testi-info .content {
    overflow: hidden;
}

.testi-info .content h4,
.testi-info .content em {
    color: #fff;
}

.testi-info .content h4 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.testi-info .content em {
    display: block;
    opacity: 0.8;
}

.feedback-box.light {
    background-color: #f5f5f5;
}

.feedback-box.light:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #f5f5f5;
}

.testimonials-grey .testi-info .content h4,
.testimonials-grey .testi-info .content em {
    color: #333;
}

.testi-content {
    color: white;
    font-size: 1.7em;
    text-align: center;
    padding: 120px;
    margin: 0;
    text-align: center;
}

.testi-content .parag {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}

.testi-content img.rounded-circle {
    margin-top: 30px;
}

.testi-content h4 {
    color: #fff;
    margin-top: 10px;
}


/*
Work process
*/

.step-box {
    position: relative;
    overflow: hidden;
}

.step-box h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 90px;
    opacity: 0.05;
}


/*
Hero templates
*/

h3.display-4 {
    text-transform: capitalize;
}

.hero-parallax {
    height: 100%;
    width: 100%;
}

.hero-parallax .hero-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.hero-parallax .hero-inner .hero-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.hero-parallax .hero-inner .hero-content h3 {
    color: #fff;
    text-transform: capitalize;
}

.hero-parallax .hero-inner .hero-content p {
    color: #fff;
}

.buttons a {
    margin: 5px;
}


/**home hero items**/

.hero-video {
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    padding-top: 220px;
    padding-bottom: 150px;
    position: relative;
    overflow: hidden;
}

.hero-video h3 {
    color: #fff;
}

.hero-video p {
    color: #fff;
    opacity: 0.8;
}

.hero-video .video-image {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 50%;
}

.video-image .video-play-btn {
    position: relative;
}

.video-image .video-play-btn a {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    display: block;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    color: #333;
}

.video-image .video-play-btn a>i {
    display: block;
    line-height: 80px;
    position: relative;
    left: 3px;
}

.full-wid {
    width: 100%;
    text-align: center;
}

.slider-title {
    text-align: center;
    width: 100%;
    padding: 0px 40px;
    color: #fff;
    top: 300px;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
}

.caption-text {
    color: #fff;
    font-size: 18px;
    bottom: 220px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.hero-static-image {
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 0px;
}

.hero-static-image h3,
.hero-static-image p {
    color: #fff;
}

.hero-static-image h3 {
    font-weight: 400;
    color: #fff;
    font-size: 46px;
    line-height: 54px;
    text-transform: capitalize;
}

.hero-static-image .buttons {
    margin-bottom: 50px;
}

.hero-gradient {
    background-image: linear-gradient(to top, #9455a6 40%, #5682be 100%);
}

.mb_YTPBar .buttonBar {
    display: none;
}

.hero-video-bg {
    position: relative;
    height: 100%;
}

.hero-video-bg .video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
}

.hero-particle-bg {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
}

.hero-particle-bg .pg-canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.hero-particle-bg h3 {
    color: #fff;
}

.hero-particle-bg p {
    color: rgba(255, 255, 255, 0.8);
}

.hero-particle-bg .container {
    padding-top: 200px;
    padding-bottom: 150px;
    z-index: 99;
}

.hero-particle-bg .video-image {
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 50%;
}


/*
Features and service icon boxes
*/

.features-section {
    padding-top: 90px;
    padding-bottom: 60px;
}

.feature-box-center i {
    font-size: 50px;
    margin-bottom: 15px;
    color: #4aa3df;
    display: block;
}

.align-self-center {
    padding-top: 45px;
}

.features-bg {
    background: url(../images/bg2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 50px;
}

.features-bg .center-title h2,
.features-bg .center-title p {
    color: #fff;
}

.features-bg .center-title:after {
    background: #fff;
}

.feature-icon-left {
    margin-bottom: 40px;
}

.feature-icon-left .icon {
    float: left;
    margin-right: 20px;
    color: #fff;
    width: 60px;
    text-align: center;
    font-size: 50px;
}

.feature-icon-left .content {
    overflow: hidden;
}

.feature-icon-left .content h4,
.feature-icon-left .content p {
    color: #fff;
}

.feature-icon-left .content h4 {
    font-weight: 400;
    text-transform: capitalize;
}

.feature-icon-left .content p {
    opacity: 0.9;
}


/*
Bootstrap collapsed
*/

.card .card-header {
    padding: 0px;
}

.card .card-header {
    background-color: #fff;
    border: 0px;
}

.card .card-header a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    display: block;
    position: relative;
    padding: 10px 15px;
    color: #fff;
    background-color: #4aa3df;
}

.card .card-header a:after {
    content: "\f2d7";
    display: inline-block;
    font-family: "Ionicons";
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 15px;
}

.card .card-header a.collapsed {
    color: #333;
    background: transparent;
}

.card .card-header a.collapsed:after {
    content: "\f2c7";
}

.card-accrodions .card {
    margin-bottom: 6px;
}


/*
Sign in, SignUp, Error 404, coming soon style
*/

body.page-misc {
    background: #4aa3df;
    padding: 40px 0;
    min-height: 100%;
    height: 100%;
}

.misc-box {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    padding: 25px 50px 25px 50px;
    margin-bottom: 20px;
}

.misc-box i.error-sign {
    font-size: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #4aa3df;
    opacity: 0.1;
    text-align: center;
}

span.copyright {
    color: #fff;
    display: block;
    text-align: center;
    opacity: 0.7;
}


/*
Features tabs style
*/

.features-tabs {
    border-bottom: 1px solid #eee;
    padding: 0px;
    margin-bottom: 40px;
    text-align: center;
}

.features-tabs>li>a {
    display: block;
    margin-bottom: -2px;
    padding: 10px 25px;
    color: #757575;
    border-bottom: 1px solid transparent;
    font-weight: 400;
}

.features-tabs>li>a.active {
    border-bottom-color: #4aa3df;
    color: #4aa3df;
}


/**footer style **/

.footer {
    background: #f2f2f2;
    color: #000;
}

.footer ul li {
    padding: .25rem 0;
}

.footer ul li a {
    color: #000;
    font-weight: 300;
}

.footer ul li a:hover {
    color: #ed1c24;
}

.footer span {
    font-size: 12px;
}

.footer h4 {
    color: #000;
    font-weight: bold;
}

.footer .navbar-form {
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 0px;
}

.footer .navbar-form .form-control {
    width: 270px;
}

.social {
    margin-bottom: 20px;
}

.social>li>a {
    font-size: 20px;
}

.social>li>a:hover {
    color: #4aa3df;
}

.partners-list img {
    opacity: 0.3;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    margin: 0 auto;
}

.partners-list>li>a {
    display: block;
    margin-top: 20px;
    padding: 0px 10px;
}

.partners-list>li>a:hover img {
    opacity: 1;
}


/***responsive style**/

@media (max-width: 991px) {
    .hero-parallax .hero-inner .hero-content h3 {
        font-size: 30px;
        line-height: 37px;
    }
    .hero-content .btn-primary,
    .hero-gradient .btn-primary {
        display: none;
    }
    .dzsparallaxer,
    .hero-gradient,
    .hero-particle-bg {
        margin-top: 50px;
    }
    .hero-gradient,
    .hero-particle-bg {
        padding-top: 50px;
    }
    .hero-video .video-image,
    .hero-particle-bg .video-image,
    .hero-video-bg .video-image {
        position: static;
        margin-top: 30px;
        width: 100%;
    }
    .hero-video .video-image .video-play-btn,
    .hero-particle-bg .video-image .video-play-btn,
    .hero-video-bg .video-image .video-play-btn {
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }
    .hero-video .container,
    .hero-particle-bg .container,
    .hero-video-bg .container {
        padding-bottom: 0px;
        text-align: center;
        padding-top: 40px;
    }
    .hero-video .container h3,
    .hero-particle-bg .container h3,
    .hero-video-bg .container h3 {
        font-size: 30px;
    }
    .hero-video,
    .hero-static-image {
        margin-top: 50px;
        text-align: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .hero-video h3.display-4,
    .hero-static-image h3.display-4 {
        font-size: 35px;
        line-height: 40px;
    }
    .hero-video .btn-primary,
    .hero-static-image .btn-primary {
        display: none;
    }
    .hero-video .buttons,
    .hero-static-image .buttons {
        margin-bottom: 0px;
    }
    .navbar-expand-lg>.container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .search-nav {
        margin-left: .9rem;
        margin-top: 2px;
        position: absolute;
        right: 25px;
        top: 18px;
    }
    .navbar-toggler-icon {
        margin-right: 15px;
    }
    .navbar-light.navbar-transparent .navbar-brand img {
        top: 3px;
    }
    .fixed-top .navbar-collapse {
        max-height: 320px;
    }
    .navbar-collapse.show {
        overflow-y: auto;
    }
    .navbar-toggler {
        border-radius: 0px;
        padding: 0;
        margin-top: -2px;
        width: 40px;
    }
    .navbar-toggler-icon {
        margin-right: 0px;
    }
    .navbar-toggler-right {
        right: 2.5em;
        border: 0px;
        background-color: transparent !important;
    }
    .navbar-light .navbar-toggle {
        border-color: #4aa3df;
    }
    .navbar-light .navbar-toggle:focus,
    .navbar-light .navbar-toggle:hover {
        border-color: #4aa3df;
    }
    .navbar-toggler,
    .navbar-light .navbar-toggler:focus,
    .navbar-light .navbar-toggler:hover {
        background: transparent;
    }
    .navbar-light .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-light .navbar-toggle .icon-bar:focus,
    .navbar-light .navbar-toggle .icon-bar:hover {
        background: #fff;
    }
    .navbar-nav .nav-link {
        display: block;
        padding: .5em 1em;
    }
    .navbar-light .navbar-nav {
        margin-top: 15px;
    }
    .navbar-toggler.navbar-toggler-right {
        position: absolute;
        top: 20px;
        right: 49px;
        background-color: #f5f5f5;
        border-radius: 3px;
    }
    .navbar-light.navbar-transparent .navbar-brand .logo-top {
        display: none;
    }
    .navbar-light.navbar-transparent .navbar-brand .logo-top {
        opacity: 1;
        visibility: visible;
    }
    .navbar .container-fluid {
        position: static;
    }
}

@media (max-width: 767px) {
    .footer .navbar-form {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer .navbar-form .form-control {
        width: 100%;
    }
    .footer .navbar-form .btn-primary {
        display: block;
        width: 100%;
    }
    .hero-parallax .hero-inner .hero-content p.lead {
        font-size: 13px;
    }
    .btn-xl {
        padding: 12px 25px;
    }
    .btn-lg {
        padding: 8px 20px;
    }
    .page-title h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .hero-video-bg {
        background: url("../images/video-fallback.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@media (max-width: 576px) {
    .navbar-expand-lg>.container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-light.navbar-transparent .navbar-brand img {
        left: 15px;
    }
}

/*
Bootstrap collapsed
*/

.card .card-header {
    padding: 0px;
}

.card .card-header {
    background-color: #fff;
    border: 0px;
}

.card .card-header a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    display: block;
    position: relative;
    padding: 10px 15px;
    color: #fff;
    background-color: #e62f2d;
}

.card .card-header a:after {
    content: "\f2d7";
    display: inline-block;
    font-family: "Ionicons";
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 15px;
}

.card .card-header a.collapsed {
    color: #333;
    background: transparent;
}

.card .card-header a.collapsed:after {
    content: "\f2c7";
}

.card-accrodions .card {
    margin-bottom: 6px;
}

/* ERROR STYLE */
.error-title{
    font-size: 100px !important;
}
